/*barra predeterminada*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ebebeb;
}
.barra {
  background-color: #ebebeb;
  color: rgb(80, 80, 80);
}

.colortitulosbarra {
  color: rgb(80, 80, 80);
}

.barranavegacion {
  text-align: center;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 15px;
}

.barra h1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
  text-align: center;
  color: rgb(80, 80, 80);
  margin-top: 0px;
  margin-bottom: 0px;
}

.barranavegacion li:hover {
  background-color: rgb(80, 80, 80);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/*inicio*/

.slogan {
  background-color: rgb(170, 140, 123);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

.contenedorimagenprincipal {
  background-image: url(../public/foto.png);
}

.botonservicios {
  display: block;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 10px;
  background-color: rgb(188, 143, 143);
}
.promocontainer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(170, 140, 123);
}

.promo {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.logoblanco {
  width: 150px;
  height: 150px;
}

.servicios {
  color: rgb(188, 143, 143);
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
}

.col-3 {
  display: flex;
  flex-direction: column;
}

.border {
  color: rgb(188, 143, 143) !important;
}
/*servicios html*/
.nuestroserviciostitulo {
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  width: auto;
}

.mision {
  background-color: rgb(188, 143, 143);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-align: center;
  border: 2px;
  border-style: solid;
}

/*nuestro staff html*/
.conocealequipo {
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  width: auto;
}
/* estilo formularios contacto y trabaja con nosotres*/

form {
  width: autopx;
  margin: auto;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 12px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}

#button {
  background-color: rgb(188, 143, 143);
  color: rgb(255, 255, 255);
}

/* contacto html */

.tituloform {
  color: rgb(80, 80, 80);
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: auto;
}

.formulariocontacto {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* trabajaconnosotroshtml */
.formulariotrabaja {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
/*pie de pagina determinado*/

.piedepag {
  background-color: rgb(188, 143, 143);
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mapa {
  display: flex;
  height: 200px;
  padding-bottom: 10px;
}

.datosdecontactofoot {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 5px;
}

.contacto li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 5px;
}

/* media barra predeterminada*/
@media screen and (min-width: 768px) {
  .barranavegacion {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 20px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-areas: "h1 inicio nuestrosservicios promos nuestrostaff contácto";
  }
  .barranavegacion li {
    transition: all;
  }

  /* media inicio*/
  .slogan {
    font-size: 15px;
    animation-duration: 3s;
    animation-name: desliza;
  }

  @keyframes desliza {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .botonservicios {
    font-size: 20px;
  }

  .promo {
    font-size: 20px;
  }

  /*media servicios*/
  .nuestroserviciostitulo {
    font-size: 20px;
  }

  .mision {
    font-size: 15px;
    animation-duration: 3s;
    animation-name: desliza;
  }

  @keyframes desliza {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /*media staff*/
  .conocealequipo {
    font-size: 20px;
  }
  /*media contacto*/
  .tituloform {
    animation-duration: 1s;
    animation-name: desliza;
  }

  @keyframes desliza {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /*media tamaño formularios*/
  form {
    width: 500px;
  }

  /*pie de página predeterminado*/
  .piedepag {
    display: grid;
    grid-template-areas: "mapa mapa contacto contacto";
  }

  .mapa {
    grid-area: mapa;
    width: 300px;
    justify-self: center;
  }

  .contacto {
    grid-area: contacto;
    display: flex;
    align-items: center;
  }
}
