@mixin titulosservicios {
  color: $colorgris;
  text-align: center;
}

.contenedorimagenprincipal {
  background-image: url(../public/fotom.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slogan {
  background-color: $colormarron;
  color: $colorblanco;
  font-family: $font1;
  text-align: center;
  padding: 10px;
  font-size: 10px;

  .slogantitulo {
    font-size: 15px;
  }
}

.servicioscontenedor {
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

  a.botonservicios {
    color: $colorblanco;
    text-decoration: none;
  }

  .botonservicios {
    padding: 8px;
    font-family: $font1;
    font-size: 15px;
    background-color: $colorgris;
    border: solid;
    border-color: $colormarron;
  }

  .botonservicios:hover {
    background-color: $colormarron;
    color: $colorblanco;
    border: solid;
    border-color: $colorgris;
  }
}

.promocontainer {
  display: flex;
  justify-content: space-around;
  background-color: $colormarron;
}

.logoblanco {
  width: 150px;
  height: 150px;
}

.promo {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: $font1;
  padding: 20px;
  font-size: 10px;
  color: $colorblanco;
  text-align: center;
}
