$font1: "Montserrat", sans-serif;
$font2: "Nanum Myeongjo", serif;
$colorblanconav: rgb(235, 235, 235);
$colorblanco: rgb(255, 255, 255);
$colorgris: rgb(80, 80, 80);
$colormarron: rgb(170, 140, 123);
$colornegro: rgb(0, 0, 0);
